@font-face {
  font-family: 'Uniqlo';
  src: url('./assets/fonts/uniqlo.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UniqloBold';
  src: url('./assets/fonts/uniqlo-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Ariake';
  src: url('./assets/fonts/ariake.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Icomoon';
  src: url('./assets/fonts/icomoon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Uniqlo';
  font-size: 10px;
}
